* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1D1E28;
}

.atsushi {
    color: #AD91FF;
    text-decoration: none;
}


/*

   _____   __                      .__    .__        _________                             .__       .__     __   
  /  _  \_/  |_  ________ __  _____|  |__ |__|       \_   ___ \  ____ ______ ___.__._______|__| ____ |  |___/  |_ 
 /  /_\  \   __\/  ___/  |  \/  ___/  |  \|  |       /    \  \/ /  _ \\____ <   |  |\_  __ \  |/ ___\|  |  \   __\
/    |    \  |  \___ \|  |  /\___ \|   Y  \  |       \     \___(  <_> )  |_> >___  | |  | \/  / /_/  >   Y  \  |  
\____|__  /__| /____  >____//____  >___|  /__|        \______  /\____/|   __// ____| |__|  |__\___  /|___|  /__|  
        \/          \/           \/     \/                   \/       |__|   \/              /_____/      \/      

access my repository https://github.com/Dev-Atsushi

*/
